{% extends "theme.twig" %}
{% block title %} About {% endblock %}
{% block content %}
		<article class="about">
			<section class="heading">
				<h1>About</h1>
			</section>

			<section class="content">

				<div class="row">
					<div class="col col-12 col-lg-6">
						<h2>What is TED?</h2>
						<p class="text-justify">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p> 
					</div>
					  
					<div class="col col-12 col-lg-6">
						<h2>What is TEDx?</h2>
						
						<p class="text-justify">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
			  	

			  	<div class="row">
					<div class="col col-12 col-lg-6">
						<h2>About Theme</h2>
						
						<p class="text-justify">
							This theme was handcrafted with love from scratch by TEDx NTUA IT Team. If you want to know more please contact <a href="mailto:developers@tedxntua.com">developers@tedxntua.com</a>. The website is built on the open-source PHP Framework Laravel. You are free to fork this theme.
						</p>

						<p class="text-center">
							<a href="http://github.com"><i class="fa fa-github fa-3x" aria-hidden="true"></i></a>
						</p>
					</div>

					<div class="col col-12 col-lg-6">
						<h2>Older Events</h2>

						<div class="list-group">
							<a href="http://2017.tedxntua.com" target="_blank" class="list-group-item text-center">TEDx NTUA 2017</a>
				  			<a href="#" class="list-group-item text-center">TEDx NTUA 2016</a>
				  			<a href="#" class="list-group-item text-center">TEDx NTUA 2015</a>
				  		</div>
					</div>

				</div>
			<section>

		</article>
{% endblock %}