{% extends "theme.twig" %}
{% block title -%}
{{ name }}
{%- endblock %}
{% block content %}

<article class="blog">
	<section class="heading">
		<h1>{{ name }}</h1>
	</section>

	<section class="content">
		<div class="container container-fluid">
			<div class="row">
				<div class="col-9">
					<div class="container container-fluid">
						<div class="row">
							<div class="col-12">
								<!-- <h2>{{ post.title }}</h2> -->
								<h2> Title </h2>
								<h5>Published: 25/12/2017</h5>


								<div class='text-justify'>
									<p> Like e-mail and voice mail, and unlike calls (in which the caller hopes to speak directly with the recipient), texting does not require the caller and recipient to both be free at the same moment; this permits communication even between busy individuals. Text messages can also be used to interact with automated systems, for example, to order products or services from e-commerce websites, or to participate in online contests. Advertisers and service providers use direct text marketing to send messages to mobile users about promotions, payment due dates, and other notifications instead of using postal mail, email, or voicemail.</p>
									<a href='/#'> Read More </a>
								</div>
								<hr>
							</div>


						</div>

						<div class="row">
							<div class="col-12">
								<!-- <h2>{{ post.title }}</h2> -->
								<h2> Title </h2>
								<h5>Published: 25/12/2017</h5>


								<div class='text-justify'>
									<p> Like e-mail and voice mail, and unlike calls (in which the caller hopes to speak directly with the recipient), texting does not require the caller and recipient to both be free at the same moment; this permits communication even between busy individuals. Text messages can also be used to interact with automated systems, for example, to order products or services from e-commerce websites, or to participate in online contests. Advertisers and service providers use direct text marketing to send messages to mobile users about promotions, payment due dates, and other notifications instead of using postal mail, email, or voicemail.</p>
									<a href='/#'> Read More </a>
								</div>
								<hr>
							</div>


						</div>	
					</div>
				</div>

				<div class="col-3">
					<h3 class="text-right">Archive</h3>
				</div> 

			</div>
		</div>


		

		
		</section>
	</article>



	{% endblock %}