{% extends "theme.twig" %}
{% block title %} Contact {% endblock %}
{% block content %}


<div style="padding: 7.5%;">
<form>
  <div class="form-group">
    <label for="exampleInputName">Name</label>
    <input type="text" class="form-control" id="name" aria-describedby="NameHelp" placeholder="Enter your Name">
    <small id="NameHelp" class="form-text text-muted">Your name is required</small>
  </div>

  <div class="form-group">
    <label for="exampleInputEmail1">e-mail address</label>
    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">Your email is required</small>
  </div>
 <div class="form-group">
  <label for="comment">Message</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>
 	 
  <button href="contact/submit" type="submit" class="btn btn-primary">Submit</button>
</form>
</div>


{% endblock %}