{% extends isPjax is defined and isPjax == true ? "pjax.twig" : "theme.twig" %}
{% block title -%}
	{{ trans('general.license.title') }}
{%- endblock %}
{% block description -%}
	{{ trans('general.license.description') }}
{%- endblock %}
{% block content %}
		<article class="license">
			<section class="heading">
				<h1>{{ trans('general.license.title') }}</h1>
			</section>

			<section class="content">

				<div class="container-fluid">

					<div class="row">
						<div class="col col-12">
							{{ trans('general.license.content') | markdown }}
						</div>
					</div>

				</div>

			</section>
		</article>
{% endblock %}
