{% extends "theme.twig" %}
{% block title -%}
	Partners
{%- endblock %}
{% block content %}
		<article class="partners">
			<section class="heading">
				<h1>Partners</h1>
			</section>
			
			<section class="content">
				<h2>Premium Partners</h2>

				<div class="container">
					<div class="row"> 
						<div class="col col-12 col-lg-6">
							<a href="http://www.google.com" target="_blank"><img class="img-fluid sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
						</div>
						<div class="col col-12 col-lg-6">
							<a href="http://www.google.com" target="_blank"><img class="img-fluid sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
						</div>


					</div>
				</div>

				<h2>Gold Partners</h2>

				<div class="container">
					<div class="row"> 
						<div class="col col-12 col-lg-4">
							<a href="http://www.google.com" target="_blank"><img class="img-fluid sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
						</div>


						<div class="col col-12 col-lg-4">
							<a href="http://www.google.com" target="_blank"><img class="img-fluid sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
						</div>
						<div class="col col-12 col-lg-4">
							<a href="http://www.google.com" target="_blank"><img class="img-fluid sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
						</div>
						
						
					</div>
				</div>

				<h2>Silver Partners</h2>

				<div class="container">
					<div class="row"> 
						<div class="col col-6 col-lg-3">
							<a href="http://www.google.com" target="_blank"><img class="img-fluid sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
						</div>
						
						<div class="col col-6 col-lg-3">
							<a href="http://www.google.com" target="_blank"><img class="img-fluid sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
						</div>
						<div class="col col-6 col-lg-3">
							<a href="http://www.google.com" target="_blank"><img class="img-fluid sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
						</div>
						<div class="col col-6 col-lg-3">
							<a href="http://www.google.com" target="_blank"><img class="img-fluid sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
						</div>	
					</div>
				</div>

				<h2>Media</h2>

				<div class="container">
					<div class="row"> 
						<div class="col col-6 col-lg-3">
							<a href="http://www.google.com" target="_blank"><img class="img-fluid sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
						</div>
						<div class="col col-6 col-lg-3">
							<a href="http://www.google.com" target="_blank"><img class="img-fluid sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
						</div>
						<div class="col col-6 col-lg-3">
							<a href="http://www.google.com" target="_blank"><img class="img-fluid sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
						</div>
						<div class="col col-6 col-lg-3">
							<a href="http://www.google.com" target="_blank"><img class="img-fluid sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
						</div>	
					</div>
				</div>

			</section>
		</article>
{% endblock %}