{% extends "theme.twig" %}
{% block title %} Partners {% endblock %}
{% block content %}

		<article class="partners">
			<section class="heading">
				<h1>Partners</h1>
			</section>
	
<<<<<<< HEAD
	<div class="row title">
		<div class="col-sm-12 col-lg-12 h1">
		<p align='center'><b>Premium Partners</b></p> 
		<hr>
		</div>
	</div>


	<div class="row"> 
		<div class="col-sm-12 col-lg-6"> <center>
			<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
		</div>

		<div class="col-sm-12 col-lg-6"> <center>
			<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
		</div>
	</div>

	<div class="row title">
		<div class="col-sm-12 col-lg-12 h1">
		<p align='center'><b>Gold Partners</b></p> 
		<hr>
		</div>
	</div>


	<div class="row"> 
		<div class="col-sm-12 col-lg-4"> <center>
			<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
		</div>

		<div class="col-sm-12 col-lg-4"> <center>
			<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
		</div>

		<div class="col-sm-12 col-lg-4"> <center>
			<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
		</div>
	</div>
	<div class="row title">
		<div class="col-sm-12 col-lg-12 h1">
		<p align='center'><b>Silver Partners</b></p> 
		<hr>
		</div>
	</div>


	<div class="row"> 
		<div class="col-sm-6 col-lg-3"> <center>
			<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
		</div>
		<div class="col-sm-6 col-lg-3"> <center>
			<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
		</div>
		<div class="col-sm-6 col-lg-3"> <center>
			<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
		</div>
		<div class="col-sm-6 col-lg-3"> <center>
			<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
		</div>	
	</div>
	<div class="row title">
		<div class="col-sm-12 col-lg-12 h1">
		<p align='center'><b>Media</b></p> 
		<hr>
		</div>
	</div>


	<div class="row"> 
		<div class="col-sm-6 col-lg-3"> <center>
			<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
		</div>
		<div class="col-sm-6 col-lg-3"> <center>
			<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
		</div>
		<div class="col-sm-6 col-lg-3"> <center>
			<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
		</div>
		<div class="col-sm-6 col-lg-3"> <center>
			<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
		</div>	
	</div>
</div>




=======
			<section class="content">
				<h2>Premium Partners</h2>

				<div class="container">
					<div class="row"> 
						<div class="col-sm-12 col-lg-6"> <center>
							<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
						</div>

						<div class="col-sm-12 col-lg-6"> <center>
							<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
						</div>
					</div>
				</div>

				<h2>Gold Partners</h2>

				<div class="container">
					<div class="row"> 
						<div class="col-sm-12 col-lg-4"> <center>
							<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
						</div>

						<div class="col-sm-12 col-lg-4"> <center>
							<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
						</div>

						<div class="col-sm-12 col-lg-4"> <center>
							<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
						</div>
					</div>
				</div>

				<h2>Silver Partners</h2>

				<div class="container">
					<div class="row"> 
						<div class="col-sm-6 col-lg-3"> <center>
							<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
						</div>
						<div class="col-sm-6 col-lg-3"> <center>
							<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
						</div>
						<div class="col-sm-6 col-lg-3"> <center>
							<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
						</div>
						<div class="col-sm-6 col-lg-3"> <center>
							<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
						</div>	
					</div>
				</div>

				<h2>Media</h2>

				<div class="container">
					<div class="row"> 
						<div class="col-sm-6 col-lg-3"> <center>
							<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
						</div>
						<div class="col-sm-6 col-lg-3"> <center>
							<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
						</div>
						<div class="col-sm-6 col-lg-3"> <center>
							<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
						</div>
						<div class="col-sm-6 col-lg-3"> <center>
							<img class="img-responsive sponsor_img" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></center> 	
						</div>	
					</div>
				</div>

			</section>
		</article>
>>>>>>> 38deef0bef2dedaa9a30e0f98dcab46d46e253b5

{% endblock %}