{% extends isPjax is defined and isPjax == true ? "pjax.twig" : "theme.twig" %}
{% block title -%}
	{{ trans('general.privacy.title') }}
{%- endblock %}
{% block description -%}
	{{ trans('general.privacy.description') }}
{%- endblock %}
{% block content %}
		<article class="privacy">
			<section class="heading">
				<h1>{{ trans('general.privacy.title') }}</h1>
			</section>

			<section class="content">

				<div class="container-fluid">

					<div class="row">
						<div class="col col-12">
							<p>Με την είσοδο και συνέχιση της πλοήγησής σας στη σελίδα <a href="https://tedxntua.com">tedxntua.com</a> και τους σχετιζόμενους με αυτήν υποτομείς (subdomains), <a href="https://2015.tedxntua.com">2015.tedxntua.com</a>, <a href="https://2017.tedxntua.com">2017.tedxntua.com</a> και <a href="https://2018.tedxntua.com">2018.tedxntua.com</a>, δηλώνετε ρητά και ανεπιφύλακτα ότι αποδέχεστε πλήρως την παρακάτω πολιτική απορρήτου.</p>

							<h4>1. Ορισμοί</h4>

							<p>Εφεξής, ως "η παρούσα ιστοσελίδα" ορίζεται το σύνολο των ιστοτόπων που περιέχονται στην ιστοσελίδα <a href="https://tedxntua.com">tedxntua.com</a> και στους σχετιζόμενους με αυτήν υποτομείς (subdomains) <a href="https://2015.tedxntua.com">2015.tedxntua.com</a>, <a href="https://2017.tedxntua.com">2017.tedxntua.com</a> και <a href="https://2018.tedxntua.com">2018.tedxntua.com</a>.</p> 

							<h4>2. Σύνδεσμοι προς άλλους ιστοτόπους</h4>

							<p>Η παρούσα ιστοσελίδα περιέχει συνδέσμους προς άλλους ιστοτόπους, για το περιεχόμενο και τους Όρους Προστασίας Προσωπικών Δεδομένων των οποίων δεν φέρει καμία απολύτως ευθύνη.</p>

							<h4>3. Προσωπικά δεδομένα</h4>

							<h5>3.1. Θεσμικό πλαίσιο</h5>

							<p>Η διαχείριση και προστασία των προσωπικών δεδομένων του επισκέπτη ή χρήστη των υπηρεσιών της παρούσας ιστοσελίδας διέπεται από τις σχετικές διατάξεις της ελληνικής νομοθεσίας (Ν. 2472/1997, Ν. 3471/2006) και του ευρωπαϊκού δικαίου (οδηγίες 95/46/ΕΚ, 2002/58/ΕΚ και 2009/136/ΕΚ), καθώς και τις κανονιστικές πράξεις της Αρχής Προστασίας Δεδομένων Προσωπικού Χαρακτήρα.</p>

							<h5>3.2. Συλλογή δεδομένων</h5>

							<h6>3.2.1. Φόρμες επικοινωνίας</h6>

							<p>Η παρούσα ιστοσελίδα περιέχει φόρμες επικοινωνίας, στις οποίες συγκεντρώνονται με τη συγκατάθεση του χρήστη τα στοιχεία του ονοματεπώνυμου και της διεύθυνσης e-mail. Τα παραπάνω δεδομένα συλλέγονται με σκοπό τη βελτίωση της παροχής υπηρεσιών της ιστοσελίδας, όπως είναι η ενημέρωση των χρηστών για ζητήματα που σχετίζονται με το αντικείμενο και το περιεχόμενο της ιστοσελίδας, καθώς και η ανταπόκριση σε ερωτήματα ή αιτήματα των χρηστών που υποβάλλονται μέσω της προαναφερθείσας φόρμας, και σε καμία περίπτωση δεν μεταβιβάζονται σε τρίτους.</p>

							<h6>3.2.2. Google Analytics</h6>

							<p>Η παρούσα ιστοσελίδα χρησιμοποιεί την υπηρεσία Google Analytics με σκοπό τη συγκέντρωση και ανάλυση στοιχείων που αφορούν τη συμπεριφορά των χρηστών στην ιστοσελίδα, δηλαδή την επισκεψιμότητα, την πλοήγηση στις επιμέρους σελίδες, τον χρόνο διαμονής τους σε αυτές ή τους συνδέσμους που ακολούθησαν για να φτάσουν σε αυτές. Όλα τα παραπάνω δεδομένα είναι μη ταυτοποιήσιμα, συλλέγονται σύμφωνα με την <a href="https://www.google.com/intl/el/policies/privacy/partners">πολιτική της υπηρεσίας</a>, και δεν πωλούνται ή μεταβιβάζονται σε τρίτους.</p>

							<h6>3.2.3. Google reCAPTCHA</h6>

							<p>Η παρούσα ιστοσελίδα χρησιμοποιεί την υπηρεσία Google reCAPTCHA με σκοπό την αποτροπή κακόβουλων επιθέσεων από bots. Η υπηρεσία χρησιμοποιείται στη φόρμα επικοινωνίας της ιστοσελίδας, όπου ο χρήστης προκειμένου να στείλει e-mail μέσω της φόρμας πρέπει να επιβεβαιώσει ότι δεν είναι bot. Η επαλήθευση πραγματοποιείται με την αποστολή μη ταυτοποιήσιμων δεδομένων στην υπηρεσία, τα οποία συλλέγονται σύμφωνα με την <a href="https://www.google.com/intl/el/policies/privacy/partners">πολιτική απορρήτου</a> της, και δεν πωλούνται ή μεταβιβάζονται σε τρίτους.

							<h6>3.2.4. Facebook Social Plugins</h6>

							<p>Η παρούσα ιστοσελίδα χρησιμοποιεί την υπηρεσία Facebook Social Plugins με σκοπό την ενσωμάτωση περιεχομένου από την πλατφόρμα κοινωνικής δικτύωσης Facebook. Τα στοιχεία που συγκεντρώνονται αφορούν την αλληλεπίδραση του χρήστη με αυτήν την υπηρεσία, είναι μη ταυτοποιήσιμα, συλλέγονται σύμφωνα με την <a href="https://www.facebook.com/about/privacy/">πολιτική της υπηρεσίας</a>, και δεν πωλούνται ή μεταβιβάζονται σε τρίτους.</p>

							<h6>3.2.5. Instagram APIs</h6>

							<p>Η παρούσα ιστοσελίδα χρησιμοποιεί την υπηρεσία Instagram API με σκοπό την ενσωμάτωση περιεχομένου από την πλατφόρμα κοινωνικής δικτύωσης Instagram. Η συγκεκριμένη υπηρεσία δεν συλλέγει δεδομένα.</p>

							<h6>3.2.6. Διευθύνσεις IP, στοιχεία φυλλομετρητή και λειτουργικού συστήματος</h6>

							<p>Η παρούσα ιστοσελίδα έχει τη δυνατότητα να συλλέγει τη διεύθυνση IP, τα στοιχεία του φυλλομετρητή, καθώς και του λειτουργικού συστήματος της ηλεκτρονικής συσκευής με την οποία συνδέεστε στον ιστότοπο. Τα στοιχεία αυτά συλλέγονται αποκλειστικά για τεχνικούς λόγους, δηλαδή με σκοπό τον εντοπισμό και τη διόρθωση πιθανών σφαλμάτων, και όχι για την ταυτοποίηση των χρηστών.</p>

							<h4>4. Χρήση cookies</h4>

							<p>Για να εξασφαλίσουμε τη σωστή λειτουργία του ιστότοπου, μερικές φορές τοποθετούμε μικρά αρχεία δεδομένων στον υπολογιστή σας, τα λεγόμενα «cookies». Οι περισσότεροι μεγάλοι ιστότοποι κάνουν το ίδιο.</p>

							<h5>4.1. Τι είναι τα cookies;</h5>

							<p>Τα cookies είναι μικρά αρχεία κειμένου τα οποία ένας ιστότοπος αποθηκεύει στον υπολογιστή σας ή στην κινητή σας συσκευή όταν επισκέπτεστε αυτόν τον ιστότοπο. Με τον τρόπο αυτό, ο ιστότοπος θυμάται τις ενέργειές σας και τις προτιμήσεις σας (όπως  κωδικός σύνδεσης, γλώσσα, μέγεθος γραμματοσειράς και άλλες προτιμήσεις απεικόνισης) για ένα χρονικό διάστημα, κι έτσι δεν χρειάζεται να εισάγετε τις προτιμήσεις αυτές κάθε φορά που επισκέπτεστε τον ιστότοπο ή φυλλομετρείτε τις σελίδες του.</p> 

							<h5>4.2. Πώς χρησιμοποιούμε τα cookies;</h5>

							<p>Η παρούσα ιστοσελίδα χρησιμοποιεί cookies ώστε να αποθηκεύει τις προτιμήσεις του χρήστη όσον αφορά τη γλώσσα στην οποία προβάλλεται η ιστοσελίδα, καθώς και για την πιθανή μεταφορά πληροφοριών από μία σελίδα του ιστοτόπου στις επόμενες, με σκοπό τη βελτίωση της εμπειρίας του χρήστη.</p>

							<p>Ακόμη, χρησιμοποιούνται cookies τρίτων μερών (third-party cookies) από τις υπηρεσίες Google Analytics, Google reCAPTCHA και Facebook Social Plugins, για τους ίδιους σκοπούς που αναφέρονται παραπάνω και τα οποία υπόκεινται στις αντίστοιχες Πολιτικές Απορρήτου των υπηρεσιών.</p>

							<h5>4.3. Πώς να ελέγχετε τα cookies;</h5>

							<p>Μπορείτε να ελέγχετε και/ή να διαγράφετε τα cookies ανάλογα με τις επιθυμίες σας. Λεπτομέρειες θα βρείτε εδώ: <a href="https://aboutcookies.org">aboutcookies.org</a>.  Μπορείτε να διαγράψετε όλα τα cookies που βρίσκονται ήδη στον υπολογιστή σας, όπως και να ρυθμίσετε τους περισσότερους φυλλομετρητές κατά τρόπο που να μην επιτρέπουν την εγκατάσταση cookies. Ωστόσο, στην περίπτωση αυτή, ίσως χρειαστεί να προσαρμόζετε εσείς από μόνοι σας ορισμένες προτιμήσεις κάθε φορά που επισκέπτεστε έναν ιστότοπο, και επίσης ενδέχεται να μην λειτουργούν και μερικές υπηρεσίες.</p>

							<h4>5. Αλλαγές πολιτικής απορρήτου</h4>

							<p>Η παρούσα ιστοσελίδα διατηρεί το δικαίωμά της να τροποποιεί μονομερώς και χωρίς προηγούμενη προειδοποίηση το περιεχόμενο της παρούσας πολιτικής απορρήτου, με οποιονδήποτε τρόπο κρίνει απαραίτητο και πάντοτε στο πλαίσιο του Ελληνικού και Ευρωπαϊκού δικαίου και των σχετικών διεθνών συνθηκών. Σε περίπτωση τροποποίησης δεσμευόμαστε ότι θα ενημερώνουμε τους επισκέπτες της ιστοσελίδας, προβάλλοντας μηνύματα επαρκούς μεγέθους στις διάφορες σελίδες του ιστοτόπου ή/και με όποιον άλλο τρόπο κρίνουμε απαραίτητο.</p>
						</div>
					</div>

				</div>

			</section>
		</article>
{% endblock %}
