{% extends "theme.twig" %}
{% block title -%}
	{{ trans('general.speakers.title') }}
{%- endblock %}
{% block description -%}
	{{ trans('general.speakers.description') }}
{%- endblock %}
{% block content %}

<article class="speakers">
	<section class="heading">
		<h1>{{ trans('general.speakers.title') }}</h1>
	</section>

	<section class="content">

		<div class="container-fluid text-center">
			<a href="/speakers/jobs">
				<img src="https://pi.tedcdn.com/r/pe.tedcdn.com/images/ted/0ef62e4df27b4ba7294de889fdbc33e476a08ec9_254x191.jpg?" width="200" height="200" class="rounded-circle wow bounceInRight">
			</a>	
		</div>

	</section>
</article>



{% endblock %}