{% extends "theme.twig" %}
{% block title -%}
	Team
{%- endblock %}
{% block content %}
		<article class="about">
			<section class="heading">
				<h1>Team</h1>
			</section>

			<section class="content">

			<div class="row">	
				<div class="col col-3 rounded-circle img">	
				<ul class="social-links list-unstyled d-flex justify-content-around">
				<li>
					<a href="https://facebook.com"><i class="fa fa-facebook-square fa-1x" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="https://instagram.com"><i class="fa fa-instagram fa-1x" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="https://linkedin.com"><i class="fa fa-linkedin-square fa-1x" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="https://gmail.com"><i class="fa fa-envelope-square fa-1x" aria-hidden="true"></i></a>
				</li>
			</ul>

			</div>
			</div>	
				
			<section>
		</article>
{% endblock %}