<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>