<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% block head %}
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        <header>
            {{ include('layouts.partials.nav') }}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <script src="{{ asset('js/app.js') }}"></script>
    </body>
</html>