		<div class="container d-none d-md-block">
			<div class="row">
				<div class="col-md-4">
					<h3>Facebook stream</h3>
					<p>This is where the Facebook stream will be located.</p>
				</div>
				<div class="col-md-4">
					<h3>Instagram stream</h3>
					<p>Posts and stories and cool stuff and emojis and polls and #many #many #hashtags.</p>
				</div>
				<div class="col-md-4">
					<h3>Other stuff</h3>
					<p>I don't remember what we are supposed to include here.</p>
				</div>
			</div>
		</div>
		<div class="container d-block d-md-none">
			<ul class="social-links list-unstyled d-flex justify-content-around">
				<li>
					<a href="https://facebook.com"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="https://instagram.com"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="https://linkedin.com"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="https://gmail.com"><i class="fa fa-envelope-square fa-3x" aria-hidden="true"></i></a>
				</li>
			</ul>
		</div>
