<nav class="navbar navbar-expand-lg navbar-dark mx-auto">
        <a class="navbar-brand" href="/">
            <img src="http://uploads.webflow.com/584bf174b2dde20f701b14d4/586cccdff7cbea74169f0e82_TEDxNTUAtransparent.png" alt="TEDx NTUA Logo" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHotdog" aria-controls="navbarHotdog" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarHotdog">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/partners">Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#speakers">Speakers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/schedule">Schedule</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
                <li class="nav-item get-tickets">
                    <a class="nav-link" href="https://www.eventora.com">Get Tickets</a>
                </li>
            </ul>
        </div>
</nav>
